.product-tile {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out;
}

    .product-tile:hover {
        transform: scale(1.05);
    }

    .product-tile img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
